h1 {
	color: #9400D3;
	font-size: 48pt;
	font-family: Impact, sans-serif;
}
a {
	font-size: 20pt;
}
p {
	font-size: 16pt;
}
body {
	background-image: url('./background.jpeg');
}

:not(a) {
	color: #00e6e6;
	font-family: 'Jokerman';
}

@font-face{
	font-family:'Jokerman';
	src: local('Jokerman'), url("https://crossorigin.me/http://www.myfontfree.com/data/200/j/jokerman/Jokerman.ttf") format("truetype");
}
button {
	color: black;
	font-size: 15pt;
}
